@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./assets/components/result.css');
@import url('./assets/components/stat.css');
@import url('./assets/components/summary.css');

:root {
  --red: hsl(0, 100%, 67%);
  --yellow: hsl(39, 100%, 56%);
  --green: hsl(166, 100%, 37%);
  --blue: hsl(234, 85%, 45%);

  --bright-red: hsla(0, 100%, 67%, 0.1);
  --bright-yellow: hsla(39, 100%, 56%, 0.1);
  --bright-green: hsla(166, 100%, 37%, 0.1);
  --bright-blue: hsla(234, 85%, 45%, 0.1);

  --dark-navy: hsl(224, 30%, 27%);
  --light-blue: hsl(241, 100%, 89%);
  --white: hsl(0, 0%, 100%);
  --main-gradient: linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%);
  --reverse-gradient: linear-gradient(180deg, #4D21C9 0%, rgba(36, 33, 202, 0) 100%, rgba(37, 33, 201, 0.00) 100%);

  font-family: 'Hanken Grotesk', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.main {}