.stat {
  border-radius: 0.75em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.stat__title {
  margin: 0;
  display: flex;
  gap: 0.75em;
  align-items: center;
  font-weight: 500;
}

.stat__title::before {
  content: var(--icon);
}

.stat__numbers {
  font-weight: 700;
  color: var(--dark-navy);
}

.stat__maximum {
  opacity: 0.5;
}

@media (min-width: 50em) {
  .stat {
    font-size: 1.125em;
  }
}